.button {
  color: #162739;
  background-color: #fdd723;
  outline: none;
  border: none;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;

  font-size: 2rem;
  padding: 10px 15px;
}

.button:hover {
  background-color: #ebc920;
}
