html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Bangers;
}

.fit-screen {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 1300px;
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers-Regular.ttf") format("truetype");
  font-style: normal;
}
