.container {
  background-image: url("/assets/PNG/background-game.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 0.18fr);
  grid-row-gap: 2em;

  justify-content: center;
  margin-top: 100px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 950px;

  color: #fdd723;
  margin: 0 auto;
  margin-top: 50px;
}

.h1 {
  margin-right: 30px;
}
